div.indicator-beacon div.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 36px;
  background-color: #1E1E1E;
  border-radius: 8px;
}
div.indicator-beacon div.items div:not(.coin-name, .coin-market-cap) {
  padding-right: 28px !important;
  padding-left: 28px !important;
}
div.indicator-beacon div.items div:not(.coin-name) {
  margin-left: 1px;
  justify-content: flex-end;
}
div.indicator-beacon div.items div.coin-name {
  padding-right: 56px !important;
}
div.indicator-beacon div.items div.coin-market-cap {
  padding-left: 56px !important;
}
div.indicator-beacon div.items div.item {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 264px;
  padding: 18px 0;
}
div.indicator-beacon div.items div.item h5 {
  margin: 0;
  font-weight: 500;
}