$white: #FFF;
$black: #101010;

// card
$cardBackground: #1E1E1E;
$cardBackgroundSecond: #1D1D1D;
$cardBlue: #1A1B25;
$backgroundBlue: #32333B;

// text
$FirstBlack: #4D4D4D;
$SecondBlack :#626262;
$ThirdBlack :#767676;
$FourthBlack :#8A8A8A;
$FifthBlack :#9F9F9F;
$SixthBlack :#B3B3B3;
$SeventhBlack :#C8C8C8;
$EighthBlack :#DCDCDC;
$NinethBlack :#F0F0F0;
$TenthBlack :#FAFAFA;

// Primary
$Primary: #FBBE85;
$PrimarySecond : #FFD3AB;
$PrimaryLight : #FFE6CF;

// Secondary
$Secondary: #637194;
$SecondarySecond : #7887AE;
$SecondaryLight : #8D9EC7;

// Red
$Red: #EA3943;
$RedSecond : #3B202A;

// Green
$Green: #16C784;
$GreenSecond : #193734;

// Skeleton
$Skeleton: #32333b00;