@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");
*, *::before, *::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans", sans-serif !important;
  min-height: 100vh;
  background-color: #101010 !important;
  scroll-behavior: smooth;
  color: #FAFAFA !important;
}

a {
  font-family: "Sofia Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none !important;
  color: #9F9F9F !important;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

::-moz-selection {
  color: #F0F0F0;
  background-color: #FBBE85;
}

::selection {
  color: #F0F0F0;
  background-color: #FBBE85;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #101010;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #1E1E1E;
  border-radius: 2px;
}

div.container-beacon {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}
div.container-beacon section.section-beacon {
  width: 100%;
  max-width: 1396px;
  margin: auto;
}
@media (max-width: 1636px) {
  div.container-beacon section.section-beacon {
    width: inherit;
    margin: auto 120px;
  }
}
@media (max-width: 1200px) {
  div.container-beacon section.section-beacon {
    margin: auto 80px;
  }
}
@media (max-width: 1024px) {
  div.container-beacon section.section-beacon {
    margin: auto 60px;
  }
}
@media (max-width: 576px) {
  div.container-beacon section.section-beacon {
    max-width: 90%;
    margin: auto;
  }
}