section.hero div.content {
  position: relative;
  display: flex;
  margin-top: 20px;
}
@media (min-width: 577px) {
  section.hero div.content {
    margin-top: 60px !important;
  }
}
@media (max-width: 991px) {
  section.hero div.content div.content-row {
    justify-content: center;
  }
}
section.hero div.content h1.hero-text {
  font-weight: 800;
  margin-top: 84px;
  margin-bottom: 16px;
}
@media (max-width: 1366px) {
  section.hero div.content h1.hero-text {
    font-size: calc(1.5rem + 2.4vw);
  }
}
@media (max-width: 768px) {
  section.hero div.content h1.hero-text {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  section.hero div.content h1.hero-text {
    font-size: calc(1.2rem + 4vw);
  }
}
section.hero div.content div.intro {
  margin-bottom: 44px;
}
section.hero div.content div.intro h4.intro-text {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #DCDCDC !important;
}
@media (max-width: 768px) {
  section.hero div.content div.intro h4.intro-text {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  section.hero div.content div.intro h4.intro-text {
    font-size: calc(0.8rem + 1.2vw);
  }
}
section.hero div.content div.hero-preview {
  margin-top: 60px;
}
@media (min-width: 992px) {
  section.hero div.content div.hero-preview {
    position: absolute;
    right: -16%;
    z-index: -1;
    margin-top: 20px !important;
  }
  section.hero div.content div.hero-preview img {
    transform: scale(2.2);
  }
}
@media (min-width: 1940px) {
  section.hero div.content div.hero-preview {
    right: 0;
    width: 50%;
  }
  section.hero div.content div.hero-preview img {
    transform: scale(1);
  }
}