.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.statistics .text {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-inline: auto;
}
.statistics .numbers {
  display: flex;
  max-width: 56rem;
  margin-inline: auto;
  align-items: center;
}
.statistics .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2;
  width: 100%;
  flex-grow: 1;
  text-align: center;
}
.statistics .statistic:not(:last-child) {
  border-right: 1px solid #363947;
}
.statistics .statistic .subject {
  font-size: 20px;
  color: #9F9F9F;
}
.statistics .statistic .number {
  font-size: 40px;
  color: #FAFAFA;
  font-weight: 800;
}