.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
.statistics .text {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-inline: auto;
}
@media (max-width: 768px) {
  .statistics .text {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .statistics .text {
    margin-bottom: 4rem;
  }
}
.statistics .numbers {
  display: flex;
  max-width: 56rem;
  margin-inline: auto;
  align-items: center;
}
@media (max-width: 768px) {
  .statistics .numbers {
    flex-wrap: wrap;
    row-gap: 24px;
  }
}
.statistics .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  text-align: center;
}
@media (min-width: 769px) {
  .statistics .statistic {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (max-width: 768px) {
  .statistics .statistic:not(:nth-child(2), :last-child) {
    border-right: 1px solid #363947 !important;
  }
}
@media (min-width: 769px) {
  .statistics .statistic:not(:last-child) {
    border-right: 1px solid #363947;
  }
}
.statistics .statistic .subject {
  font-size: 20px;
  color: #9F9F9F;
}
@media (max-width: 425px) {
  .statistics .statistic .subject {
    font-size: 14px;
  }
}
.statistics .statistic .number {
  font-size: 40px;
  color: #FAFAFA;
  font-weight: 800;
}
@media (max-width: 425px) {
  .statistics .statistic .number {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .statistics .quote {
    width: 48px;
    height: 48px;
  }
}